/* Container Styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333;
  color: #ECECEC;
  margin: 0;
  padding: 0;
  transition: width 0.5s ease-in-out;
}

.container.reduced-width {
  width: 70%;
}

.card {
  width: 30%;
  height: 20%;
  max-width: 100%;
  margin-left: 15%;
  padding: 15px;
  border-radius: 10px;
  background-color: #444;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  animation: expandCard 1s 0.3s forwards;
}

.card.shift-left {
  margin-left: 5%;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.selected-project {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 추가 스타일 */
}
/* Add pointer cursor to each ProjectComponent */
.project-list .project-component {
  cursor: pointer;
}
.project-component.selected {
  border: 2px solid #FFD700;  /* Gold color for better visibility in dark theme */
}

/* Add pointer cursor to each ProjectComponent in outside container as well */
.project-outside-container .project-component {
  cursor: pointer;
}

/* Style for moving the project list to the right */
.project-list.move-right {
  margin-left: 40%;  /* adjust as needed */
}
/* MyPageComponent.css */

.project-outside-container.entering,
.project-outside-container.leaving-to {
  position: absolute;
  top: 0;
  right: -30%;  /* start from outside of the view */
  width: 30%;
  height: 100%;
  overflow-y: auto;
  transition: right 0.5s ease-in-out;
}

.project-outside-container.entering-to,
.project-outside-container.leaving {
  position: absolute;
  top: 0;
  right: 0;  /* final position */
  width: 30%;
  height: 100%;
  overflow-y: auto;
  transition: right 0.5s ease-in-out;
}

@keyframes expandCard {
  to {
      width: 80%;
      height: 80%;
      padding: 25px;
  }
}

/* Title Styles */
.title {
  position: relative;
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ECECEC;
  animation: expandBorder 0.8s forwards;
}

@keyframes expandBorder {
  to {
      width: 100%;
  }
}

/* ProjectComponent Animation Styles */
.card .project-component {
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 1.3s;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}
