/* RegisterComponent.css */
.homepage-name {
  margin-bottom: 20px; /* 홈페이지 이름과 다른 요소와의 간격 설정 */
  cursor: pointer;     /* 클릭 가능한 요소임을 시각적으로 표현 */
  transition: opacity 0.3s; /* 페이드 효과를 위한 전환 설정 */
}

.homepage-name:hover {
  opacity: 0.7; /* 호버 시 약간의 페이드 효과 */
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(45deg, #222, #333);
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

.register-input {
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #444;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.2); /* 약간의 투명도를 추가 */
  color: white;
  width: 100%;
  max-width: 400px;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.register-input:focus {
  border-color: #666;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.register-button {
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 18px;
  background-color: #444;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.register-button:hover {
  background-color: #555;
  transform: scale(1.05); /* 약간 확대 */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
